/* Icons from: https://tabler.io/icons */
i {
  display: inline-block;

  -webkit-mask-size: cover;
  mask-size: cover;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;

  width: 1.25rem;
  height: 1.25rem;

  background-color: white;
}

.icon--menu {
  mask-image: url("../svg/menu.svg");
  -webkit-mask-image: url("../svg/menu.svg");
}

.icon--menu-close {
  mask-image: url("../svg/arrow-bar-left.svg");
  -webkit-mask-image: url("../svg/arrow-bar-left.svg");
}

.icon--home {
  mask-image: url("../svg/home.svg");
  -webkit-mask-image: url("../svg/home.svg");
}

.icon--php-file {
  mask-image: url("../svg/file-type-php.svg");
  -webkit-mask-image: url("../svg/file-type-php.svg");
}

.icon--message-user {
  mask-image: url("../svg/message-user.svg");
  -webkit-mask-image: url("../svg/message-user.svg");
}

.icon--map-route {
  mask-image: url("../svg/map-route.svg");
  -webkit-mask-image: url("../svg/map-route.svg");
}

.icon--list-details {
  mask-image: url("../svg/list-details.svg");
  -webkit-mask-image: url("../svg/list-details.svg");
}

.icon--cash {
  mask-image: url("../svg/cash.svg");
  -webkit-mask-image: url("../svg/cash.svg");
}

.icon--arrow-down {
  mask-image: url("../svg/circle-arrow-down.svg");
  -webkit-mask-image: url("../svg/circle-arrow-down.svg");
}

.icon--speakerphone {
  mask-image: url("../svg/speakerphone.svg");
  -webkit-mask-image: url("../svg/speakerphone.svg");
}

.icon--theater {
  mask-image: url("../svg/theater.svg");
  -webkit-mask-image: url("../svg/theater.svg");
}

.icon--device-projector {
  mask-image: url("../svg/device-projector.svg");
  -webkit-mask-image: url("../svg/device-projector.svg");
}

.icon--arrow-merge-both {
  mask-image: url("../svg/arrow-merge-both.svg");
  -webkit-mask-image: url("../svg/arrow-merge-both.svg");
}

.icon--circle-plus {
  mask-image: url("../svg/circle-plus.svg");
  -webkit-mask-image: url("../svg/circle-plus.svg");
}

.icon--facebook {
  mask-image: url("../svg/brand-facebook.svg");
  -webkit-mask-image: url("../svg/brand-facebook.svg");
}

.icon--www {
  mask-image: url("../svg/world-www.svg");
  -webkit-mask-image: url("../svg/world-www.svg");
}

.icon--x {
  mask-image: url("../svg/brand-x.svg");
  -webkit-mask-image: url("../svg/brand-x.svg");
}

.icon--instagram {
  mask-image: url("../svg/brand-instagram.svg");
  -webkit-mask-image: url("../svg/brand-instagram.svg");
}